@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Client.Common.Services.Interfaces
@using KarcagS.Shared.Helpers
@using KarcagS.Shared.Localization
@using System.Diagnostics.CodeAnalysis
@typeparam Model

<MudDialog>
    <TitleContent>
        <DialogTitle Title="@TitleText"/>
    </TitleContent>
    <DialogContent>
        <div style="min-width: @(MinWidth)px;">
            <MudForm @ref="Form" IsTouchedChanged="@HandleTouchedChanged" IsValidChanged="@HandleValidChanged">
                <LoadingBox IsLoading="Loading">
                    @ChildContent
                </LoadingBox>
            </MudForm>
        </div>
    </DialogContent>
    <DialogActions>
        @if (ObjectHelper.IsNotNull(Remove) && IsEdit && !RemoveDisabled)
        {
            <MudButton Color="Color.Error" OnClick="@Delete" Disabled="@(!CanDelete())">@LocalizationService.GetValue(LibraryLocalizer.EditorRemoveKey, "Remove")</MudButton>
        }
        <MudButton OnClick="@Cancel">@LocalizationService.GetValue(LibraryLocalizer.EditorCancelKey, "Cancel")</MudButton>
        <MudButton Color="Color.Primary" OnClick="@Save" Disabled="@(!CanSave())">@LocalizationService.GetValue(LibraryLocalizer.EditorSaveKey, "Save")</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private IMudDialogInstance Dialog { get; set; } = null!;

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; set; } = null!;

    [Parameter, EditorRequired]
    public required Func<Task<bool>> Submit { get; set; } = null!;

    [Parameter]
    public Func<Task<bool>>? Remove { get; set; }

    [Parameter]
    public string RemoveConfirmMessage { get; set; } = null!;

    [Parameter]
    public string RemoveConfirmTitle { get; set; } = null!;

    [Parameter]
    public string? Title { get; set; }

    [Parameter, EditorRequired]
    public required string EntityName { get; set; } = null!;

    [Parameter, EditorRequired]
    public required bool IsEdit { get; set; }

    [Parameter]
    public int MinWidth { get; set; } = 300;

    [Parameter]
    public Func<Model, ISnackbar, Task<bool>>? FormValidator { get; set; }

    [Parameter, EditorRequired]
    public required Model ModelObj { get; set; } = default!;

    [Parameter]
    public bool RemoveDisabled { get; set; }

    [Parameter]
    public bool Loading { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; } = null!;

    [Inject]
    private IConfirmService ConfirmService { get; set; } = null!;

    [Inject]
    private ILocalizationService LocalizationService { get; set; } = null!;

    private MudForm? Form { get; set; }
    private string TitleText { get; set; } = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (ObjectHelper.IsNotNull(Title))
        {
            TitleText = Title;
        }
        else
        {
            TitleText = IsEdit
                ? LocalizationService.GetValue(LibraryLocalizer.EditorEditEntityKey, "Edit {0}", EntityName)
                : LocalizationService.GetValue(LibraryLocalizer.EditorCreateEntityKey, "Create {0}", EntityName);
        }
        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        StateHasChanged();
    }

    private async Task Save()
    {
        if (ObjectHelper.IsNull(Form))
        {
            return;
        }

        await Form.Validate();
        if (!CanSave()) return;

        if (ObjectHelper.IsNotNull(FormValidator))
        {
            var result = await FormValidator(ModelObj, Snackbar);

            if (!result)
            {
                return;
            }
        }

        if (await Submit())
        {
            Dialog.Close(DialogResult.Ok(EditorDialogResult.PerformedResult(EditorCloseEvent.Edit)));
        }
    }

    private bool CanSave()
    {
        return !Loading && (Form?.IsTouched ?? false) && (Form?.IsValid ?? false);
    }

    private async Task Delete()
    {
        if (!CanDelete())
        {
            return;
        }

        await ConfirmService.Open(new ConfirmDialogInput
        {
            Message = !string.IsNullOrEmpty(RemoveConfirmMessage)
                ? RemoveConfirmMessage
                : LocalizationService.GetValue(LibraryLocalizer.EditorConfirmDeleteMessageKey, $"Are you sure you want to delete {EntityName}?", EntityName),
            ActionFunction = async () => await Remove()
        },
            !string.IsNullOrEmpty(RemoveConfirmTitle)
                ? RemoveConfirmTitle
                : LocalizationService.GetValue(LibraryLocalizer.EditorConfirmDeleteTitleKey, "Confirm Delete"),
            () => Dialog.Close(DialogResult.Ok(EditorDialogResult.PerformedResult(EditorCloseEvent.Remove))));
    }

    [MemberNotNullWhen(true, "Remove")]
    private bool CanDelete() => ObjectHelper.IsNotNull(Remove) && IsEdit;


    private void Cancel() => Dialog.Cancel();

    private void HandleTouchedChanged() => StateHasChanged();

    private void HandleValidChanged() => StateHasChanged();
}