@using KarcagS.Client.Common.Services.Interfaces
@using KarcagS.Shared.Common
@using KarcagS.Shared.Helpers
@using KarcagS.Shared.Localization

@typeparam TKey
@typeparam T where T : IIdentified<TKey>


<MudDialog>
    <TitleContent>
        <DialogTitle Title="@TitleText"/>
    </TitleContent>
    <DialogContent>
        <div style="min-width: @(MinWidth)px;">
            @if (ObjectHelper.IsNotNull(BodyText))
            {
                <MudText Class="mb-2" Typo="Typo.body1">@BodyText</MudText>
            }
            <LoadingBox IsLoading="IsLoading">
                <MudTreeView Items="DataList">
                    <ItemTemplate>
                        @{
                            var item = context as TreeItem<T>;
                        }
                        <MudTreeViewItem @bind-Expanded="@context.Expanded" Items="context.Children">
                            <Content>
                                <MudTreeViewItemToggleButton @bind-Expanded="context.Expanded" Visible="item!.HasChild"/>
                                <MudCheckBox Value="@item.Selected" ValueChanged="@((bool val) => ToggleSelect(item, val))" Disabled="IsSelectDisabled(item)"/>
                                <MudText Class="mr-1">@TitleGetter(item.Data)</MudText>
                            </Content>
                        </MudTreeViewItem>
                    </ItemTemplate>
                </MudTreeView>
            </LoadingBox>
        </div>
    </DialogContent>
    <DialogActions>
        <MudIconButton Icon="@Icons.Material.Filled.ExpandMore" Size="Size.Small" OnClick="@ExpandAll" Disabled="@ObjectHelper.IsEmpty(DataList)"/>
        <MudIconButton Icon="@Icons.Material.Filled.ExpandLess" Size="Size.Small" OnClick="@CollapseAll" Disabled="@ObjectHelper.IsEmpty(DataList)"/>
        <MudSpacer/>
        <MudButton OnClick="@Cancel">@LocalizationService.GetValue(LibraryLocalizer.SelectorCancelActionKey, "Cancel")</MudButton>
        <MudButton Color="Color.Primary" OnClick="@Submit" Disabled="@(!CanSubmit())">@LocalizationService.GetValue(LibraryLocalizer.SelectorSelectActionKey, "Select")</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private IMudDialogInstance Dialog { get; set; } = null!;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    [Parameter, EditorRequired]
    public required string EntityName { get; set; } = null!;

    [Parameter, EditorRequired]
    public required Func<Task<List<T>>> Fetcher { get; set; } = async () => await Task.FromResult<List<T>>([]);

    [Parameter, EditorRequired]
    public required Func<T, List<T>> ItemExtractor { get; set; } = _ => [];

    [Parameter, EditorRequired]
    public required Func<T, string> TitleGetter { get; set; } = _ => "";

    [Parameter]
    public bool MultiSelect { get; set; }

    [Parameter]
    public bool SingleItemSelect { get; set; } = true;

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public int MinWidth { get; set; } = 300;

    [Parameter]
    public List<TKey> DisabledIds { get; set; } = [];

    [Inject]
    private ILocalizationService LocalizationService { get; set; } = null!;

    public IReadOnlyCollection<TreeItem<T>> DataList { get; set; } = [];

    private List<T> Selection { get; } = [];
    private string TitleText { get; set; } = "";

    private bool IsLoading { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TitleText = ObjectHelper.IsNotNull(Title) ? Title : LocalizationService.GetValue(LibraryLocalizer.SelectorSelectEntityKey, "Select {0}", EntityName);

        await Fetch();

        await base.OnInitializedAsync();
    }

    private async Task Fetch()
    {
        IsLoading = true;
        await InvokeAsync(StateHasChanged);

        DataList = TreeItem<T>.ConvertList(await Fetcher(), ItemExtractor, false);

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    private void ExpandAll()
    {
        DataList.ToList().ForEach(x => x.ExpandAll());
    }

    private void CollapseAll()
    {
        DataList.ToList().ForEach(x => x.CollapseAll());
    }

    private void ToggleSelect(TreeItem<T> item, bool val)
    {
        item.ToggleSelection(!SingleItemSelect);

        if (SingleItemSelect)
        {
            if (val)
            {
                Selection.Add(item.Data);
            }
            else
            {
                Selection.Remove(item.Data);
            }
        }
    }

    private bool HasSelection()
    {
        return ObjectHelper.IsNotEmpty(Selection);
    }

    private bool IsSelectDisabled(TreeItem<T> item)
    {
        return (!MultiSelect && HasSelection() && !Selection.Contains(item.Data)) || DisabledIds.Contains(item.Data.Id);
    }

    private void Submit()
    {
        if (!CanSubmit())
        {
            return;
        }

        Dialog.Close(DialogResult.Ok(Selection));
    }

    private bool CanSubmit() => !Required || HasSelection();

    private void Cancel() => Dialog.Cancel();

}