@using KarcagS.Shared.Localization

@typeparam TKey

<div class="lib-table-frame d-flex flex-column w-100" style="max-height: 100%;">
    @if (MetaData != null)
    {
        <MudTable @ref="TableComponent"
                  ServerData="@(new Func<TableState, CancellationToken, Task<TableData<TableRowItem<TKey>>>>(TableReload))"
                  Virtualize="true" T="TableRowItem<TKey>"
                  Class="@AppendedClass"
                  Dense="TableStyle.Dense"
                  Elevation="TableStyle.Elevation"
                  FixedHeader="TableStyle.FixedHeader"
                  FixedFooter="true"
                  Hover="TableStyle.Hover"
                  Striped="TableStyle.Striped"
                  Bordered="TableStyle.Bordered"
                  OnRowClick="@RowClickHandler">
            <ColGroup>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    @if (ObjectHelper.IsNotNull(ColumnStyles[col.Key].ColumnStyle.Width))
                    {
                        <col style="width: @(ColumnStyles[col.Key].ColumnStyle.Width)px;"/>
                    }
                    else
                    {
                        <col/>
                    }
                }
            </ColGroup>
            <ToolBarContent>
                <div class="d-flex flex-row align-items-center w-100 mr-2">
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="w-100 mt-3 mb-3">
                        <b>@GetTitle(MetaData, Localizer)</b>
                    </MudText>
                    <MudSpacer/>
                    @if (ObjectHelper.IsNotNull(ErrorResult))
                    {
                        <div class="d-flex flex-row align-items-center gap-2">
                            <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error"/>
                            <MudText Style="white-space: nowrap;"
                                     Typo="Typo.body2"
                                     Inline="true"
                                     Color="Color.Error">@GetErrorMessage(ErrorResult.Message, Localizer)</MudText>
                        </div>
                    }
                    else
                    {
                        @if (ObjectHelper.IsNotNull(FilterRow))
                        {
                            <div class="d-flex flex-row align-items-center mr-3">
                                @FilterRow(this)
                            </div>
                        }

                        @if (MetaData.FilterData.TextFilterEnabled)
                        {
                            <MudTextField Class="mr-3" T="string"
                                          DebounceInterval="500"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.Dense"
                                          Clearable="true"
                                          Style="width: 300px;"
                                          Value="TextFilter"
                                          ValueChanged="TextFilterHandler"
                                          Placeholder="@LocalizationService.GetValue(LibraryLocalizer.TableSearchLabelKey, "Search")"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Search"/>
                        }
                    }
                </div>
            </ToolBarContent>
            <HeaderContent>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    <MudTh Class="@ColumnStyles[col.Key].Class"
                           Style="@ColumnStyles[col.Key].Style"
                           @onclick="@(() => HandleOrdering(col))">
                        <div style="@ColumnStyles[col.Key].InnerStyle" class="@ColumnStyles[col.Key].InnerClass">
                            <MudText Color="ColumnStyles[col.Key].ColumnStyle.TitleColor" Inline>
                                <b>@GetColumnTitle(col, Localizer)</b>
                            </MudText>
                            @if (MetaData.OrderingData.OrderingEnabled && col.IsSortable && IsOrderedColumn(col))
                            {
                                <MudIcon Icon="@GetOrderingIcon(GetOrderingStatus(col))"
                                         Color="Color.Primary"
                                         Size="Size.Small"/>
                            }
                        </div>
                    </MudTh>
                }
            </HeaderContent>
            <RowTemplate>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    <MudTd Class="@context.Styles[col.Key].Class"
                           Style="@context.Styles[col.Key].Style"
                           DataLabel="@col.Key">
                        <div style="@context.Styles[col.Key].InnerStyle" class="@context.Styles[col.Key].InnerClass">
                            @if (!col.IsAction)
                            {
                                <MudText Color="context.Styles[col.Key].CellStyle.Color">
                                    @GetValue(context.Values[col.Key].Value, Localizer)
                                </MudText>
                            }
                            else
                            {
                                <MudIconButton Color="context.Styles[col.Key].CellStyle.IconColor"
                                               Icon="@context.Styles[col.Key].CellStyle.Icon"
                                               Size="Size.Small"
                                               Disabled="@(ReadOnly || context.Disabled || context.ClickDisabled || context.Values[col.Key].ActionDisabled || (TableComponent?.Loading ?? true))"
                                               OnClick="@(() => ActionHandler(col, context))"/>
                            }
                        </div>
                    </MudTd>
                }
            </RowTemplate>
            <PagerContent>
                @if (MetaData.PaginationData.PaginationEnabled)
                {
                    <div style="min-height: 52px;">
                        <MudTablePager PageSizeOptions="@(new[] { MetaData.PaginationData.PageSize })"
                                       HideRowsPerPage="true"/>
                    </div>
                }
            </PagerContent>
        </MudTable>
    }
</div>